{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": 0,
        "no-trailing-spaces": [1, {"skipBlankLines": true}],
        "indent": 2,
        "no-unused-vars": 0,
        "semi": [2]
    },
    "parserOptions":{
        "ecmaFeatures": {
            "jsx": true
        }
    }

}